@use "../mixins/responsive.scss" as *;

.gap-s {
  gap: 1rem;
}
.gap-m {
  gap: 2rem;
}
.gap-l {
  gap: 3rem;
}
.gap-xl {
  gap: 4rem;
}
.gap-xxl {
  gap: 5rem;
}

.padding-sections {
  padding-bottom: 8rem;
  @include responsive(laptop) {
    padding-bottom: 12rem;
  }
}

.flow > * + * {
  padding-top: 1rem;
}

.br {
  display: block;
  font-size: 0;
}

.line-height {
  line-height: 0.95;
}
