@use "../../mixins/responsive.scss" as *;

body {
  margin: 0;
  font-family: var(--ff-main);
  font-size: var(--fs-base);
  color: var(--color-text-main);
  text-align: center;
  line-height: 1.6;
  @include responsive(laptop) {
    text-align: left;
  }
}
